scipy
markupsafe
numpy<=2.0
pandas
mlflow
h11
nltk
flair
spacy>=3.7
ipywidgets
spacy-transformers>=1.3
Pillow>=7.1.0
uvicorn
jinja2
aiofiles
fastapi
matplotlib
toml
tensorboard
torch
transformers
sentencepiece
seqeval
segtok